{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'dubhacks/style.css' %}" />
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>
      <div class="container">
<div class="row">
	<div class="col s12">
		<div class="card indigo lighten-1">
			<div class="card-content white-text">
				<span class="card-title">{{ topic.title }}</span>
				{% if user.is_authenticated %}
				 <a class="waves-effect waves-light btn  pink accent-1 white-text right" href="{% url 'subscribe' topic.id %}" ><i class="material-icons left">done</i>Suscribe</a>
				 {% endif %}
			</div>
		</div>
	</div>
	{% for summary in topic.summary_set.all %}
	<div class="col s12">
		<div class="card indigo lighten-4">
			<div class="card-content grey-text text-darken-2">
              <span  class="card-title">
              	<a href= "{{ summary.url }}" >{{summary.title}}</a></span>
              <p>{{ summary.text }}</p>
            </div>
		</div>
	</div>
	{% endfor %}
</div>

	{% if twitter_results %}
	{% for tweet in twitter_results %}
	{% cycle 'row' '' as row silent %}
	{% if row %}<div class="row">{% endif %}
	<div class="col s6">
		<blockquote class="twitter-tweet" lang="en" data-cards="hidden"><a href={{ tweet }}></a></blockquote>
	</div>
	{% if not row %}</div>{% endif %}
	{% endfor %}
	{% endif %}

</div>
    </body>

<!-- Compiled and minified JavaScript -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>