{% extends "summarizer/base.html" %}

{% block head_title %}Dubhacks{% endblock %}

{% block content %}

<div class="container">

        

<!-- 	<form action="/summarizer/your-name/" method="post">
	{% csrf_token %}
	<div class="row">
		<div class="input-field col s6 offset-s3">
    <label for="search">Topic: </label>
    <input id="search" type="text" name="search" value="">
    </div>
    <input type="submit" value="OK">
</div>
	</form> -->

	{% if result_list %}
        <!-- Display search results in an ordered list -->
        <div style="clear: both;">
            <ol>
            {% for result in result_list %}
                <li>
                    <strong>{{ result.link }}</strong><br />
                    <em>{{ result.title }}</em>
                </li>
            {% endfor %}
            </ol>
        </div>
    {% endif %}


	{% if latest_topic_list %}
	{% for topic in latest_topic_list %}
	{% cycle 'row' '' as row silent %}
	{% if row %}<div class="row">{% endif %}
	<div class="col s6">
		<div class="card  indigo lighten-4">
			<div class="card-content grey-text text-darken-2">
				<span class="card-title grey-text text-darken-4">{{ topic.title }}</span>
				<p>Pietistic skinless sociologistically ribaldly nonvibrating runlet mismated osmidrosis hairball scarabaeid unpillaged friendship enghien outdone.</p>
			</div>
			<div class="card-action "><a href="{% url 'detail' topic.id %}" class="blue-text text-darken-4">View Summary</a>
				{% if user.is_authenticated %}
				<a class="waves-effect waves-light btn blue darken-2 white-text" href="{% url 'subscribe' topic.id %}"><i class="material-icons left">done</i>Suscribe</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% if not row %}</div>{% endif %}
	{% endfor %}
	{% else %}
	<div class="card blue-grey darken-1">
		<div class="card-content white-text">
			<span class="card-title">No Topics Avalible</span>
		</div>
	</div>
	
{% endif %}

</div>

{% endblock %}
