{% extends "summarizer/base.html" %}

{% block head_title %}Dubhacks{% endblock %}

{% block content %}

<div class="container">
	<form action="/summarizer/your-name/" method="post">
	{% csrf_token %}
    <label for="topic">Topic: </label>
    <input id="topic" type="text" name="topic" value="">
    <input type="submit" value="OK">
	</form>

	{% if result_list %}
        <!-- Display search results in an ordered list -->
        <div style="clear: both;">
            <ol>
            {% for result in result_list %}
                <li>
                    <strong>{{ result.link }}</strong><br />
                    <em>{{ result.title }}</em>
                </li>
            {% endfor %}
            </ol>
        </div>
    {% endif %}

	{% if twitter_results %}
	{% for tweet in twitter_results %}
	{% cycle 'row' '' as row silent %}
	{% if row %}<div class="row">{% endif %}
	<div class="col s6">
		<blockquote class="twitter-tweet" lang="en"><a href={{ tweet }}></a></blockquote>
	</div>
	{% if not row %}</div>{% endif %}
	{% endfor %}
	{% endif %}

	{% if latest_topic_list %}
	{% for topic in latest_topic_list %}
	{% cycle 'row' '' as row silent %}
	{% if row %}<div class="row">{% endif %}
	<div class="col s6">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">{{ topic.title }}</span>
				<p>Pietistic skinless sociologistically ribaldly nonvibrating runlet mismated osmidrosis hairball scarabaeid unpillaged friendship enghien outdone.</p>
			</div>
			<div class="card-action">
				<a href="{% url 'detail' topic.id %}">View Summary</a>
			</div>
		</div>
	</div>
	{% if not row %}</div>{% endif %}
	{% endfor %}
	{% endif %}

	{% if not any %}
	<div class="card blue-grey darken-1">
		<div class="card-content white-text">
			<span class="card-title">No Topics Avalible</span>
		</div>
	</div>
	{% endif %}
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

{% endblock %}
