{% extends "summarizer/base.html" %}

{% block head_title %}Zero{% endblock %}

{% block content %}

<div class="container">

  {% if subscription_list %}
  {% for topic in subscription_list%}
  {% cycle 'row' '' as row silent %}
  {% if row %}<div class="row">{% endif %}
  <div class="col s6">
    <div class="card indigo lighten-4">
      <div class="card-content grey-text text-darken-2">
        <span class="card-title grey-text text-darken-4">{{ topic.title }}</span>

      </div>
      <div class="card-action ">
        <a href="{% url 'detail' topic.id %}" class="blue-text text-darken-4">View Summary</a>
        <a class="waves-effect waves-light btn  pink accent-1 white-text" href="{% url 'unsubscribe' topic.id %}" ><i class="material-icons left">done</i>Unsuscribe</a>
      </div>
    </div>
  </div>
  {% if not row %}</div>{% endif %}
  {% endfor %}
  {% else %}
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">No Topics Avalible</span>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
